<section id="js-contact-form" class="contact-form">
    <div class="contact-form__shape">
        <svg width="262" height="625" viewBox="0 0 262 625" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M157 364C128.295 364 105 388.019 105 417C105 445.705 128.295 469 157 469V521H105C105 492.295 81.7052 469 53 469V417V361.5C81.7052 361.5 105 340.981 105 312H157V364Z" fill="#5DD597"/><path fill-rule="evenodd" clip-rule="evenodd" d="M262 52C233.019 52 209.5 75.2948 209.5 104C209.5 132.705 233.019 156 262 156V208V260C233.019 260 209 283.295 209 312H157V260C185.981 260 209.5 236.705 209.5 208C209.5 179.295 185.981 156 157 156V104V52C185.981 52 209.5 28.7052 209.5 0H262V52Z" fill="#5DD597"/><path fill-rule="evenodd" clip-rule="evenodd" d="M209 312C209 283.295 185.705 260 157 260C128.295 260 105 283.295 105 312C105 340.705 128.295 364 157 364C185.705 364 209 340.705 209 312Z" fill="#E6DDBF"/><path d="M157 573C185.705 573 209 596.295 209 625L261 625L261 573C232.295 573 209 549.705 209 521L157 521L157 573Z" fill="#5DD597"/><path d="M156.699 417H105C105 445.705 128.295 469 157 469V417H156.699Z" fill="#99E3E2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 312L52.6936 312H53H105C105 340.705 81.7052 364 53 364C23.7428 364 0 340.705 0 312Z" fill="#EFA33B"/><path fill-rule="evenodd" clip-rule="evenodd" d="M157.301 521H209C209 492.295 185.705 469 157 469C128.295 469 105 492.295 105 521C105 549.705 128.295 573 157 573V521H157.301Z" fill="#99E3E2"/></svg>
    </div>
    <div class="contact-form__title">
        <p>{{ content }}</p>
    </div>
    <div class="contact-form__form">
        {{ gravity_form_shortcode|shortcodes }}
    </div>
</section>