<section class="image-title-hero lazyload" data-bgset="{{ image.src|resizeDynamic(image.width) }}" data-sizes="auto">
    <div class="image-title-hero__mask"></div>
    <div class="image-title-hero__inner {% if black_title %}image-title-hero__inner--black{% endif %}">
        <h1>{{ title }}</h1>
    </div>
</section>