<section class="science-image lazyload" data-bgset="{{ image.src|resizeDynamic(image.width) }}" data-sizes="auto">
    <div class="science-image__mask-0"></div>
    <div class="science-image__mask">
        <svg width="420" height="563" viewBox="0 0 420 563" fill="none"><path d="M421 140.699V0H280.734C280.734 77.6692 217.898 140.699 140.468 140.699C62.8358 140.699 0 203.729 0 281.398C0 359.068 62.8358 422.098 140.266 422.098C217.696 422.098 280.532 485.127 280.532 562.797H420.797V422.098C343.367 422.098 280.532 359.068 280.532 281.398C280.532 203.729 343.367 140.699 421 140.699Z" fill="white"/></svg>
    </div>
    <div  class="science-image__mask--mobile">
        <svg width="132" height="176" viewBox="0 0 132 176" fill="none"><path d="M132 43.9841V0H88.0212C88.0212 24.2802 68.3197 43.9841 44.0424 43.9841C19.7015 43.9841 0 63.688 0 87.9682C0 112.248 19.7015 131.952 43.9788 131.952C68.2561 131.952 87.9576 151.656 87.9576 175.936H131.936V131.952C107.659 131.952 87.9576 112.248 87.9576 87.9682C87.9576 63.688 107.659 43.9841 132 43.9841Z" fill="white"/></svg>
    </div>
</section>