<section class="home-wrapper lazyload" data-bgset="{{ image.src|resizeDynamic(image.width) }}" data-sizes="auto">
    <div class="home-hero">
        <div class="home-hero__white-bkg"></div>
        <div class="home-hero__circle-1"></div>
        <div class="home-hero__circle-2"></div>
        <div class="home-hero__circle-3"></div>
        <div class="container">
            <div class="home-hero__mask">
                <svg x="0px" y="0px" width="1207px" height="903px" viewBox="134 -65 1207 903" style="enable-background:new 134 -65 1207 903;" xml:space="preserve"><path fill="#FFFFFF" d="M1115.3-65H888.6H662.9H134v293.8v158.3V838h528.9V609.5c123.4-0.3,223.6-99,225.7-221.2c0-125.2,101.4-226.7,226.6-226.7C1239.9,161.7,1341,60.2,1341-65H1115.3z"/></svg>
            </div>
            <div class="home-hero__mask--mobile">
                <svg width="830" height="621" viewBox="0 0 830 621" fill="none"><path d="M674.769 0H518.917H363.686H0V202.032V310.914V621H363.686V463.887C448.545 463.68 517.468 395.784 518.917 311.742C518.917 225.63 588.667 155.871 674.769 155.871C760.456 155.871 830 86.112 830 0H674.769Z" fill="white"/></svg>
            </div>
            <div class="home-hero__info">
                <h1>{{ title }}</h1>
                {{ content_1 }}
                <div id="js-home-hero__btn" class="home-hero__btn">
                    <span><svg width="48" height="48" viewBox="0 0 48 48" fill="none"><g filter="url(#filter0_d)"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 20C6.5 24.6413 8.34374 29.0925 11.6256 32.3744C14.9075 35.6563 19.3587 37.5 24 37.5C28.6413 37.5 33.0925 35.6563 36.3744 32.3744C39.6563 29.0925 41.5 24.6413 41.5 20C41.5 15.3587 39.6563 10.9075 36.3744 7.62563C33.0925 4.34374 28.6413 2.5 24 2.5C19.3587 2.5 14.9075 4.34374 11.6256 7.62563C8.34374 10.9075 6.5 15.3587 6.5 20ZM44 20C44 25.3043 41.8929 30.3914 38.1421 34.1421C34.3914 37.8929 29.3043 40 24 40C18.6957 40 13.6086 37.8929 9.85786 34.1421C6.10714 30.3914 4 25.3043 4 20C4 14.6957 6.10714 9.60859 9.85786 5.85786C13.6086 2.10714 18.6957 0 24 0C29.3043 0 34.3914 2.10714 38.1421 5.85786C41.8929 9.60859 44 14.6957 44 20ZM25.25 11.25C25.25 10.9185 25.1183 10.6005 24.8839 10.3661C24.6495 10.1317 24.3315 10 24 10C23.6685 10 23.3505 10.1317 23.1161 10.3661C22.8817 10.6005 22.75 10.9185 22.75 11.25V25.7325L17.385 20.365C17.1503 20.1303 16.8319 19.9984 16.5 19.9984C16.1681 19.9984 15.8497 20.1303 15.615 20.365C15.3803 20.5997 15.2484 20.9181 15.2484 21.25C15.2484 21.5819 15.3803 21.9003 15.615 22.135L23.115 29.635C23.2311 29.7514 23.3691 29.8438 23.5209 29.9068C23.6728 29.9698 23.8356 30.0022 24 30.0022C24.1644 30.0022 24.3272 29.9698 24.4791 29.9068C24.6309 29.8438 24.7689 29.7514 24.885 29.635L32.385 22.135C32.6197 21.9003 32.7516 21.5819 32.7516 21.25C32.7516 20.9181 32.6197 20.5997 32.385 20.365C32.1503 20.1303 31.8319 19.9984 31.5 19.9984C31.1681 19.9984 30.8497 20.1303 30.615 20.365L25.25 25.7325V11.25Z" fill="#3F3F3F"/></g><defs><filter id="filter0_d" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter></defs></svg></span>
                </div>
            </div>
        </div>
    </div>
    <div id="js-home-content" class="home-content">
        <div class="home-content__row">
            <div class="home-content__left">
            </div>
            <div class="home-content__right">
                <div class="home-content__right-inner">
                    {{ content_2 }}
                </div>
            </div>
        </div>
        <div class="home-content__circle-1"></div>
        <div class="home-content__circle-2-wrapper">
            <div class="home-content__circle-2"></div>
        </div>
        <div class="home-content__circle-3-wrapper">
            <div class="home-content__circle-3"></div>
        </div>  
    </div>
</section>