.news-two {
  overflow: hidden;
  padding: 60px 40px 70px;
}

.news-two__shape-1 {
  display: flex;
  position: absolute;
  right: -83px;
  top: -62px;
}

.news-two__shape-2 {
  bottom: -72px;
  display: flex;
  position: absolute;
  right: -217px;
}

.news__container {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.news__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.news__col {
  padding: 10px;
  position: relative;
  width: 50%;
}

.news-two__shape-3 {
  display: flex;
  left: -106px;
  position: absolute;
  top: -112px;
}

.news__inner {
  background: $color-white;
  box-shadow: 0 5px 5px rgba(26, 26, 26, 0.15);
  height: 100%;
  padding: 30px 25px 50px;
  position: relative;
}

.news__logo {
  height: 50px;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.news__title {
  margin-top: 20px;

  h2 {
    color: $color-black;
    font-size: 24px;
    line-height: 1.33;
  }
}

.news__date {
  color: $color-black;
  font-size: 16px;
  line-height: 1.75;
  margin-top: 12px;
}

.news__link {
  margin-top: 50px;
  text-align: center;

  a {
    border: 1px solid $color-blue;
    border-radius: 20px;
    color: $color-blue;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-semibold;
    line-height: 1.5;
    padding: 8px 15px;
  }
}

.news__shape {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.news-two__mobile-shape-1 {
  display: none;
}

.news-two__mobile-shape-2 {
  bottom: 0;
  display: none;
  position: absolute;
  right: 0;
}

@media(max-width: $breakpoint-mobile-start) {
  .news-two {
    padding: 0;
  }
  
  .news__container {
    padding: 0 0 120px;    
  }

  .news__row {
    display: block;
    margin: 0;
    padding: 0 40px;
  }

  .news__col {
    padding: 10px 0;
    width: 100%;
  }

  .news-two__shape-1 {
    display: none;
  }
  
  .news-two__shape-2 {
    display: none;
  }

  .news__title {
    margin-top: 17px;
    
    h2 {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  .news__inner {
    padding: 20px 23px 80px;
  }

  .news__date {
    font-size: 16px;
    line-height: 1.71;
    margin-top: 11px;
  }

  .news__shape {
    bottom: 18px;
    right: 25px;
    top: auto;
  }

  .news__link {
    margin-top: 20px;
  }

  .news-two__mobile-shape-1 {
    display: flex;
  }

  .news-two__mobile-shape-2 {
    display: flex;
  }

  .news-two__shape-3 {
    display: none;
  }
}
