<section class="join-us">
    <div class="join-us__shape">
        <svg width="368" height="611" viewBox="0 0 368 611" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M122 245V244V122.5C189.899 122.5 245 67.6228 245 0H368V122.5C300.27 122.5 245.274 177.105 245.001 244.496C245.27 311.891 300.267 366.5 368 366.5V489H245C245 421.377 189.899 366.5 122 366.5V245Z" fill="#99E3E2"/><path d="M367.289 243H245C245 312.5 300.101 367 368 367V243H367.289Z" fill="#5DD597"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 489H121.295H122H245C245 556.347 189.899 611 122 611C54.6532 611 0 556.347 0 489Z" fill="#99E3E2"/></svg>
    </div>
    <div class="join-us__shape-mobile-1">
        <svg width="88" height="306" viewBox="0 0 88 306" fill="none"><path d="M37.0986 51.0246C8.93187 51.0246 -13.926 28.1668 -13.926 0H-64.9505V51.0246C-36.7838 51.0246 -13.926 73.8824 -13.926 102.049H37.0986V51.0246Z" fill="#5DD597"/><path d="M-13.926 204.098C-13.926 175.931 8.93187 153.074 37.0986 153.074V102.049H-13.926C-13.926 130.216 -36.7838 153.074 -64.9505 153.074V204.098H-13.926Z" fill="#5DD597"/><path d="M36.5085 0.294935L36.5085 51.0246C64.6752 51.0246 87.533 28.1668 87.533 0L36.5085 0V0.294935Z" fill="#99E3E2"/></svg>
    </div>
    <div class="join-us__container">
        <div class="join-us__title">
            <h2>{{ title }}</h2>
            <p>{{ content }}</p>
        </div>
        <div class="join-us__form">
            {{ gravity_form_shortcode|shortcodes }}
        </div>
    </div>
</section>
<div class="join-us__shape-mobile-2">
    <svg width="112" height="281" viewBox="0 0 112 281" fill="none"><path d="M112 56.1838V0H56C56 31.0147 30.9133 56.1838 0 56.1838V112.368V168.551C30.9133 168.551 56 193.72 56 224.735H112V168.551C81.0867 168.551 56 143.382 56 112.368C56 81.3528 81.0867 56.1838 112 56.1838Z" fill="#99E3E2"/><path d="M111.676 112.367H56C56 143.382 81.0867 168.551 112 168.551V112.367H111.676Z" fill="#5DD597"/><path d="M0 225.141V281C30.9133 281 56 255.831 56 224.816H0V225.141Z" fill="#99E3E2"/></svg>
</div>