$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-main-family: 'poppins';
$font-sub-family: 'inter';

$color-black: #1a1a1a;
$color-black-1: #3f3f3f;
$color-white: #fff;
$color-brown: #e6ddbf;
$color-green: #5dd597;
$color-gray: #656565;
$color-blue: #40928b;
$color-sea: #99e3e2;
$color-red: #f00;

$container-width: 1200px;

$breakpoint-tablet-start: 1280px;
$breakpoint-mobile-start: 1000px;
$breakpoint-mobile-end: 767px;
