<section id="js-about-hero" class="about-hero lazyload" data-bgset="{{ image.src|resizeDynamic(image.width) }}" data-sizes="auto">
    <div class="about-hero__mask-0"></div>
    <div class="about-hero__mask-1">
        <svg width="276" height="209" viewBox="0 0 276 209" fill="none"><path d="M68.3996 208.7C68.3996 170.5 99.3996 139.5 137.6 139.5L137.6 70.2L68.3996 70.1999C68.3996 108.4 37.3996 139.4 -0.800388 139.4L-0.800391 208.6L68.3996 208.6L68.3996 208.7Z" fill="white"/><path d="M274.7 70.2L205.9 70.1999C205.9 108.4 236.9 139.4 275.1 139.4L275.1 70.2L274.7 70.2Z" fill="white"/><path d="M-0.6 69.2L68.2 69.2C68.2 31 37.2 -4.53208e-05 -0.999999 -4.57764e-05L-1 69.2L-0.6 69.2Z" fill="white"/><path d="M136.7 70.5999L136.7 139.4C174.9 139.4 205.9 108.4 205.9 70.2L136.7 70.1999L136.7 70.5999Z" fill="white"/></svg>
    </div>
    <div class="about-hero__mask-2">
        <svg width="994" height="598" viewBox="0 0 994 598" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M199.5 598C199.5 487.951 288.871 398.644 399 398.644L399 199L199.5 199C199.5 309.049 110.129 398.356 2.18035e-05 398.356L1.30893e-05 597.712L199.5 597.712L199.5 598Z" fill="white"/><path d="M793.85 199L596 199C596 308.853 685.147 398 795 398L795 199L793.85 199Z" fill="white"/><path d="M796.15 597L994 597C994 487.147 904.853 398 795 398L795 597L796.15 597Z" fill="white"/><path d="M396 200.15L396 398C506.405 398 596 308.853 596 199L396 199L396 200.15Z" fill="white"/><path d="M994 197.85L994 0C884.147 -4.80181e-06 795 89.1474 795 199L994 199L994 197.85Z" fill="white"/></svg>
    </div>
    <div class="about-hero__mask-1--mobile">
        <svg width="375" height="225" viewBox="0 0 375 225" fill="none"><path d="M374.499 75H300C300 33.5447 333.545 0 375 0V75H374.499Z" fill="white"/><path d="M299 75.5007L299 150C257.545 150 224 116.455 224 75L299 75L299 75.5007Z" fill="white"/><path d="M149 75.5007L149 150C190.455 150 224 116.455 224 75L149 75L149 75.5007Z" fill="white"/><path d="M74.5 225C74.5 183.628 107.874 150.054 149 150.054L149 75L74.5 75C74.5 116.372 41.1257 149.946 1.19828e-05 149.946L8.70681e-06 224.892L74.5 224.892L74.5 225Z" fill="white"/></svg>
    </div>
    <div class="about-hero__mask-2--mobile">
        <svg width="142" height="107" viewBox="0 0 142 107" fill="none"><path d="M35.4814 106.7C35.4814 87.1699 51.3305 71.3208 70.8606 71.3208L70.8606 35.8905L35.4814 35.8905C35.4814 55.4206 19.6323 71.2697 0.102187 71.2697L0.102185 106.649L35.4814 106.649L35.4814 106.7Z" fill="white"/><path d="M140.954 35.8905L105.78 35.8905C105.78 55.4206 121.629 71.2697 141.159 71.2697L141.159 35.8905L140.954 35.8905Z" fill="white"/><path d="M0.204504 35.3792L35.3792 35.3792C35.3792 15.8491 19.5301 7.86229e-06 4.21893e-07 7.62939e-06L0 35.3792L0.204504 35.3792Z" fill="white"/><path d="M70.4006 36.095L70.4006 71.2697C89.9307 71.2697 105.78 55.4206 105.78 35.8905L70.4006 35.8905L70.4006 36.095Z" fill="white"/></svg>
    </div>
    <div class="container">
        <div class="about-hero__info">
            <h1>{{ title }}</h1>
            {{ content }}
            <div id="js-about-hero__btn" class="about-hero__btn">
                <span><svg width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 20C2.5 24.6413 4.34374 29.0925 7.62563 32.3744C10.9075 35.6563 15.3587 37.5 20 37.5C24.6413 37.5 29.0925 35.6563 32.3744 32.3744C35.6563 29.0925 37.5 24.6413 37.5 20C37.5 15.3587 35.6563 10.9075 32.3744 7.62563C29.0925 4.34374 24.6413 2.5 20 2.5C15.3587 2.5 10.9075 4.34374 7.62563 7.62563C4.34374 10.9075 2.5 15.3587 2.5 20ZM40 20C40 25.3043 37.8929 30.3914 34.1421 34.1421C30.3914 37.8929 25.3043 40 20 40C14.6957 40 9.60859 37.8929 5.85786 34.1421C2.10714 30.3914 0 25.3043 0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0C25.3043 0 30.3914 2.10714 34.1421 5.85786C37.8929 9.60859 40 14.6957 40 20ZM21.25 11.25C21.25 10.9185 21.1183 10.6005 20.8839 10.3661C20.6495 10.1317 20.3315 10 20 10C19.6685 10 19.3505 10.1317 19.1161 10.3661C18.8817 10.6005 18.75 10.9185 18.75 11.25V25.7325L13.385 20.365C13.1503 20.1303 12.8319 19.9984 12.5 19.9984C12.1681 19.9984 11.8497 20.1303 11.615 20.365C11.3803 20.5997 11.2484 20.9181 11.2484 21.25C11.2484 21.5819 11.3803 21.9003 11.615 22.135L19.115 29.635C19.2311 29.7514 19.3691 29.8438 19.5209 29.9068C19.6728 29.9698 19.8356 30.0022 20 30.0022C20.1644 30.0022 20.3272 29.9698 20.4791 29.9068C20.6309 29.8438 20.7689 29.7514 20.885 29.635L28.385 22.135C28.6197 21.9003 28.7516 21.5819 28.7516 21.25C28.7516 20.9181 28.6197 20.5997 28.385 20.365C28.1503 20.1303 27.8319 19.9984 27.5 19.9984C27.1681 19.9984 26.8497 20.1303 26.615 20.365L21.25 25.7325V11.25Z" fill="white"/></svg></span>
            </div>
        </div>
    </div>
</section>