.science-info {
  padding: 100px 40px 70px;
}

.science-info__container {
  margin: 0 auto;
  max-width: 1250px;
}

.science-info__title {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;

  h2 {
    color: $color-black-1;
    font-size: 40px;
    line-height: 1.25;
  }
}

.science-info__row {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -25px 0;
}

.science-info__col {
  padding: 30px 25px;
  width: 25%;
}

.science-info__content {
  margin-top: 27px;
  text-align: center;
    
  h3 {
    color: $color-black-1;
    font-size: 24px;
    line-height: 1.33;
    min-height: 62px;
  }
    
  p {
    color: $color-black;
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 1.67;
    margin-top: 17px;
  }
}

.science-info__img {
  align-items: flex-end;
  display: flex;
  height: 165px;
  justify-content: center;
}

@media(max-width: $breakpoint-mobile-start) {
  .science-info {
    padding: 78px 40px 47px;
  }

  .science-info__title {
    h2 {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  .science-info__row {
    display: block;
    margin: 0;
  }

  .science-info__col {
    margin-top: 30px;
    padding: 0;
    width: 100%;

    &:nth-child(1) {
      img {
        width: 110px;
      }
    }

    &:nth-child(2) {
      img {
        width: 130px;
      }
    }

    &:nth-child(3) {
      img {
        width: 125px;
      }
    }

    &:nth-child(4) {
      img {
        width: 110px;
      }
    }
  }

  .science-info__content {
    margin-top: 23px;

    h3 {
      font-size: 18px;
      line-height: 1.56;
      min-height: auto;
    }

    p {
      font-size: 16px;
      line-height: 1.71;
      margin-top: 12px;
    }
  }

  .science-info__img {
    margin: 0 auto;
    max-width: 135px;
    text-align: center;
  }
}
